<h1>Welcome to Product Management Homepage !</h1>

<h3>Angular topics covered for Product Management</h3>
<ul>
    <li>Component - Metadata (Decorator), Template, Class - @Component</li>
    <li>Modules - @NgModule</li>
    <li>Bootstrap Component</li>
    <li>Directive - Structural directive / Component as a directive</li>
    <li>
        Binding
        <ul>
            <li>Interpolation</li>
            <li>Property Binding</li>
            <li>Event Binding</li>
            <li>Two way binding</li>
        </ul>
    </li>
    <li>Pipes - Custom Pipes</li>
    <li>Interface</li>
    <li>Lifecycle hooks</li>
    <li>Nested Component - Passing data to a nested component. @Input</li>
    <li>Services - Dependency injection</li>
    <li>Routing - Router Module</li>
    <li>Passing parameters to route - Activated Route</li>
    <li>Navigation</li>
    <li>Services</li>
    <li>Retrieving data using HTTP</li>
</ul>